/*body {
    cursor: none;
}

* :hover {
    color: white;
    background-color: black;
    font-size: xx-large;
}

a {
    color: deepskyblue;
    text-decoration: none;
}*/

#loupe {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    border: solid 3px rgb(212, 8, 42);
    position: absolute;
}

